#correspondences-container{
    padding: 10px;   
}

#recently-added-container{
}

.correspondence-card{
    display: flex;
    justify-content: flex-start;
}
.correspondence{
    margin-right: 10px;
}

.intentions-container{
    height: 300px;
    overflow: scroll
}